<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>word-game</title>
</head>

<body>
    <div class="wrapper">
    <div class="header">
        <p>Word Guess</p>
        <p>You Have {{?}} Guesses Left</p>
    </div>
        <div class="container">
        <div class="display">
             {{#word}}
                <div>
                     {{#turns}} {{.}} {{/turns}}
                </div>
                <div>
                     {{#displayArray}} {{.}} {{/displayArray}}
                </div>
                <div>
                    {{#wrongGuesses}} {{.}} {{/wrongGuesses}}
                    {{^wrongGuesses}} {{No guesses yet}} {{/wrongGuesses}}
                </div>
                <div>
                    {{#correctGuesses}} {{.}} {{/correctGuesses}}
                    {{^correctGuesses}} {{No Guesses yet}} {{/correctGuesses}}
             {{/word}}
        </div>
            <div class="form">
            <form action="/home" method="POST">
            <input type="text" name="letterGuess" maxlength="1">
            <button type="submit">Guess!</button> 
            </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>